.card {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 24px;
  border: 2px solid white;
  border-radius: 8px;
  box-shadow: 5px 5px 10px #ffffff53;
  gap: 32px;
}
.card:hover {
  transform: translateY(-3px);
  box-shadow: 5px 9px 10px #ffffff53;
  cursor: pointer;
}

.card header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardNumber {
  font-size: 24px;
  color: #ffffff96;
}

.card h1 {
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 5px #000000;
}

.card figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

.card figcaption {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card img {
  width: 250px;
  height: 250px;
}

.type_one {
  width: 100px;
  text-align: center;
  padding: 6px;
  border-radius: 20px;
  background: #ffffff34;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 3px #000000;
}

.type_two {
  width: 100px;
  text-align: center;
  padding: 6px;
  border-radius: 20px;
  background: #ffffff36;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 3px #000000;
}

.bg_grass,
.bg_poison,
.bg_fairy {
  background: #00cc41;
}

.bg_fire {
  background: #ef5350;
}

.bg_water {
  background: #378de9;
}

.bg_bug,
.bg_fighting {
  background: #f300b2;
}

.bg_normal,
.bg_ice {
  background: #bbf8ff;
}

.bg_electric,
.bg_psychic {
  background: #fffb00;
}

.bg_ground,
.bg_rock {
  background: #c17400;
}

.bg_steel {
  background: #858585;
}

.bg_ghost,
.bg_dragon,
.bg_flying {
  background: #ff00b378;
}

.bg_dark {
  background: #242424;
}