#detailedPokemonCard {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  width: 340px;
  height: 600px;
  /* 320 x 568px */
  border-radius: 16px;
  border: 0px;
  box-shadow: 0px 0px 12px #ffffffaa;
}

.closeButtonSpace {
  display: flex;
  justify-content: end;
}

.detailedCard {
  width: 100%;
  height: 100%;
  border: 3px solid #fff;
  border-radius: 16px;
  box-sizing: border-box;
}

.upperCardSpace {
  padding: 16px;
}

.detailedCard h1 {
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 5px #000000;
}

.imageSpace {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 16px;
}

.detailedCard img {
  width: 200px;
  height: 200px;
}

.detailSpace {
  height: 292px;
  background: #ffffff71;
  border-radius: 16px;
}

.navDetails {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.navDetails button {
  border: none;
  padding: 4px;
  color: #fff;
  background: none;
  font-size: 16px;
  font-weight: 600;
  text-shadow: 0 0 4px #000000;
  border-radius: 8px;
}

.navDetails button:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

#genDetails {
  padding: 0 16px;
}

th,
td {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-shadow: 0 0 4px #000000;
}