* {
  margin: 0;
  color: #fdc81a;
  font-family: "Lato ", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
  height: 100px;
  background: #ef5350;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  flex: 1;
  background: #2f2f2f;
  display: flex;
  justify-content: center;
}

.footer {
  width: 100%;
  height: 100px;
  background: #ef5350;
  display: flex;
  justify-content: center;
  align-items: center;
}

.max_width {
  width: 1440px;
}

dialog {
  padding: 0;
}

dialog::backdrop {
  background-color: #4f4b4bb8;
}